/************************/
/*         Header       */
/************************/

.page-header{
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  background: $white;
}

.header-left{
  float: left;
}

.header-right{
  float: right;

  .actions{
    float: right;
    line-height: $headerLineHeight;
    vertical-align: middle;
  }
}

.header-form-search{
  float: right;
  margin: 0;
  margin-right: 30px;
  line-height: $headerLineHeight;

  label, input{
    margin: 0;
  }

  label{
    display: inline-block;
  }

  input{
    width: 160px;
  }
}

/************************/
/*         Logo         */
/************************/

.logo{
  font-size: $baseFontSize * 1.75;
  font-weight: bold;
  text-transform: uppercase;
  float: left;

  a{
    text-decoration: none;
    color: $textColorLight;
    line-height: $headerLineHeight;
  }
}

/************************/
/*     Navigation       */
/************************/

.navigation{
  margin-left: 80px;
  float: left;

  li{
    list-style: none;
    float: left;

    > a{
      text-decoration: none;
      color: $textColor;
      display: block;

      &:hover .action{
        color: $red;
      }
    }

    & + li{
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px dashed $grayLighter;
    }
  }

  .action{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    font-size: 1.1em;
  }

  .description{
    color: $grayLight;
    font-weight: 300;
  }
}