/************************/
/*         Header       */
/************************/

.page-header{
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  background: $white;
}

.header-left{
  float: left;
}

.header-right{
  float: right;

  .actions{
    float: right;
    line-height: $headerLineHeight;
    vertical-align: middle;
  }
}

.header-form-search{
  float: right;
  margin: 0;
  margin-right: 30px;
  line-height: $headerLineHeight;

  label, input{
    margin: 0;
  }

  label{
    display: inline-block;
  }

  input{
    width: 160px;
  }
}

/************************/
/*         Logo         */
/************************/

.logo{
  font-size: $baseFontSize * 1.75;
  font-weight: bold;
  text-transform: uppercase;
  float: left;

  a{
    text-decoration: none;
    color: $textColorLight;
    line-height: $headerLineHeight;
  }
}

/************************/
/*     Navigation       */
/************************/

.navigation{
  margin-left: 80px;
  float: left;

  li{
    list-style: none;
    float: left;

    > a{
      text-decoration: none;
      color: $textColor;
      display: block;

      &:hover .action{
        color: $red;
      }
    }

    & + li{
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px dashed $grayLighter;
    }
  }

  .action{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    font-size: 1.1em;
    @include transition(color .15s);
  }

  .description{
    color: $grayLight;
    font-weight: 300;
  }
}

/************************/
/*       Content        */
/************************/

.content{
  margin-top: 40px;
}

/************************/
/*         Page         */
/************************/

.page-title{
  margin: 0;
  color: $textColorLighter;
}

.page-author{
  margin-top: 10px;
  font-size: $fontSizeLarge;
  color: $textColorLight;

  a{
    text-decoration: none;
    font-weight: bold;
    color: $textColorLight;
    @include hoverRed;
  }
}

/************************/
/*         Box          */
/************************/

.box{
  margin-top: 30px;
  border: 1px solid #ddd;
}

.problem-details{
  padding: 30px;
  background: $white;

  .image{
    display: block;
  }

  footer{
    margin: 30px -30px -30px;
    padding: 20px 30px;
    background: #F0F0F0;
    @include clearfix;

    .info{
      float: left;
      width: 50%;
      text-align: center;
    }

    .key{
      text-transform: uppercase;
      color: $textColorLight;
    }

    .value{
      font-size: $fontSizeLarge;
      font-weight: bold;
    }
  }
}

.problem-additional, .problem-category, .problem-author{
  padding: 20px;
  background: #F0F0F0;
}

.problem-additional{
  .info{
    color: $textColorLighter;
  }

  .info + .info{
    margin-top: 5px;
  }

  .actions{
    margin-top: 15px;
  }
}

.problem-category{
  .category{
    font-weight: bold;
    font-size: $fontSizeLarge;
    a{
      color: $textColorLighter;
      text-decoration: none;
      @include hoverRed;
    }
  }

  .tags{
    margin-top: 10px;
  }
}

.problem-author{

  .author-label{
    font-size: $fontSizeLarge;
    font-weight: bold;
    color: $textColorLighter;
  }

  .author-info{
    margin-top: 10px;
    @include clearfix;
  }

  .author-details{
    margin-left: 100px;
  }

  .image{
    width: 80px;
  }

  .name{
    font-weight: bold;
  }

  .city{
    margin-top: 10px;
  }

  .name, .city{
    a{
      color: $textColor;
      text-decoration: none;
      @include hoverRed;
    }
  }

  .problems-count a{
    color: $textColorLight;
    text-decoration: none;
    @include hoverRed;
  }

  .actions{
    margin-top: 10px;
  }
}