/************************/
/*         Header       */
/************************/

.page-header{
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  background: $white;
}

/************************/
/*         Logo         */
/************************/

.logo{
  font-size: $baseFontSize * 1.75;
  font-weight: bold;
  text-transform: uppercase;
  float: left;

  a{
    text-decoration: none;
    color: $textColorLight;
    line-height: 41px;
  }
}

/************************/
/*     Navigation       */
/************************/

.navigation{
  margin-left: 120px;
  float: left;

  li{
    list-style: none;
    float: left;

    > a{
      text-decoration: none;
      color: $textColor;
    }

    & + li{
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px dashed $grayLighter;
    }
  }

  .action{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }

  .description{
    color: $grayLight;
    font-weight: 300;
    font-size: $fontSizeSmall;
  }
}