//////////////////////////////////////
//        Template Variables        //
//////////////////////////////////////

$gray: #555 !default;

$red:                   #e5603b !default;
$blue:                  #618fb0 !default;
$green:                 #56bc76 !default;
$orange:                #eac85e !default;

$lightGray: #f5f5f5;

$textColorLight: $gray;

$headerLineHeight: 41px;

//////////////////////////////////////
//   Bootstrap variables override   //
//////////////////////////////////////
$sansFontFamily: 'Open Sans', sans-serif;

$baseFontSize: 13px;

$baseBorderRadius: 0;
$borderRadiusLarge: 0;
$borderRadiusSmall: 0;

$gridColumnWidth1200:     60px !default;
$gridGutterWidth1200:     20px !default;

$btnBackground:                     $lightGray !default;
$btnBackgroundHighlight:            $lightGray !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              $blue !default;
$btnPrimaryBackgroundHighlight:     $blue !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              $green !default;
$btnSuccessBackgroundHighlight:     $green !default;

$btnWarningBackground:              $orange !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      $red !default;

$btnInverseBackground:              $gray !default;
$btnInverseBackgroundHighlight:     $gray !default;

//////////////////////////////////////
// Font Awesome Variables Override  //
//////////////////////////////////////

$FontAwesomePath: 'font';